footer.footer
  nav.footer__nav
    .footer__logo-wrapper
      svg.footer__logo
        use(xlink:href='../img/icons/sprite.svg#logo-mountain')
      h4.heading-logo Trekkers
    .footer__links
      a(href='#')
        | Who we are
      a(href='#')
        | Find All Tours
      a(href='#')
        | Come work with us