header.header
  nav.header__nav
    svg.header__logo
      use(xlink:href='/img/icons/sprite.svg#logo-mountain')
    .header__links
      a(href='/')
        | Home
      a(href='#')
        | Tours
      a(href='/login')
        | Log In
      a(href='./pages/signup.html')
        | Sign Up