header.header
  nav.header__nav
    a(href='/')
      svg.header__logo
        use(xlink:href='/img/icons/sprite.svg#logo-mountain')
    .header__links
      a(href='/')
        | Home
      a(href='#')
        | Tours
      if user
        a(href='/user-account')
          | My Account
        a(href='#' class='btn-logout')
          | Log out
      else
        a(href='/login')
          | Log In
        a(href='./pages/signup.html')
          | Sign Up