header.header
  nav.header__nav
    svg.header__logo
      use(xlink:href='/img/icons/sprite.svg#logo-mountain')
    // Styled like this so there won't be any whitespace
    .header__links
      a(href='./index.html')
        | Home
      a(href='#')
        | Tours
      a(href='./pages/login.html')
        | Log In
      a(href='./pages/signup.html')
        | Sign Up