extends index

block variables
  - var containerClassName='container-create-new-password'

block content
  section.create-new-password
    form.create-new-password__form
      h3.create-new-password__heading Create New Password 
      p.create-new-password__text 
        | Your password must be different from previously used passwords.
      div(class='signup__password-wrapper')
        label(class='label label__password' for='password') Password
        input#password(class='input input__password input__password--signup' type='password' name='password' minlength='8' required)
        label(class='label label__password-confirm' for='passwordConfirm') Confirm Password
        input#passwordConfirm(class='input input__password-confirm input__password-confirm--signup' type='password' name='passwordConfirm' minlength='8' required)
        br
        input#checkbox-password(class='show-password' type='checkbox') 
        label(class='checkbox-password-label' for='checkbox-password')  Show Password
      button.btn.reset-password__btn(type='submit' data-token=`${token}`)
        | Reset Password