block variables
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' type='text/css' href='/css/style.css')
    //- font primary
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap')
    //- font secondary
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&display=swap')
    title Trekkers - #{title}

  body
    div(class=containerClassName)
      // HEADER
      include _header

      // MAIN CONTENT
      block content
        h1 This is a placeholder heading

      // FOOTER
      include _footer
