extends index

block variables
  - var containerClassName='container-reset-password'

block content
  section.reset-password
    form.reset-password__form
      h3.reset-password__heading Reset Password 
      p.reset-password__text 
        | Enter the email associated with your account and we'll send an email with instructions to reset your password.
      .reset-password__email-wrapper
        label.label.label__email(for='email')
          | Email
        input#email.input.input__email.reset-password__input(type='email' name='email' autocomplete='email' required)
      button.btn.reset-password__btn(type='submit')
        | Send Instructions